<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/Content/footerRedes.css">
    <link rel="stylesheet" href="~/Content/galeria.css">

    
    

</head>
<body>
    <header style="background: #395c82;">
        <div class="row">
            <div class="col-lg-8">
                <img class="img-responsive" alt="" src="http://placehold.it/1000x200" />
            </div>
            <!--<div class="col-lg-4">   <img class="img-responsive" alt="" src="http://placehold.it/800x300"/>               </div>-->
        </div><br/>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Inicio</a></li>
                        <!--<li><a href="#">Publicaciones</a></li>-->
                        <li><a href="#">Ventas</a></li>
                        <li><a href="#">Alquileres</a></li>
                        <li><a href="#">Locales</a></li>

                        <li><a href="/contacto.html">Contacto</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav><!-- cierre de menu -->
    </header>
        
        <div class="container well">
            
            <fieldset>
        @RenderBody()
            </fieldset>
           
            </div>
    <footer style="background-color:#395c82;">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 col-lg-offset-4" style="text-align:center;">
                    <ul class="social-network social-circle">
                        <li><a href="HTTP://FACEBOOK.COM/GONZALO.2309" class="icoFacebook" title="Facebook"><i class="fa fa-facebook" id="fb"></i></a></li>
                        <li><a href="https://twitter.com/gonzafg23" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/u/0/101441902108132395536/posts" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @section scripts{
        <script>
             jQuery(document).ready(function($) {

                $('#myCarousel').carousel({
                        interval: 5000
                });

                //Handles the carousel thumbnails
                $('[id^=carousel-selector-]').click(function () {
                var id_selector = $(this).attr("id");
                try {
                    var id = /-(\d+)$/.exec(id_selector)[1];
                    console.log(id_selector, id);
                    jQuery('#myCarousel').carousel(parseInt(id));
                    console.log("llega");
                } catch (e) {
                    console.log('Regex failed!', e);
                }
            });
                // When the carousel slides, auto update the text
                $('#myCarousel').on('slid.bs.carousel', function (e) {
                         var id = $('.item.active').data('slide-number');
                         $('#carousel-text').html($('#slide-content-' + id).html());
                         console.log("llega");
                });
         });

        </script>}
 
</body>
</html>
