@model Proyecto.Models.Property

@{
    ViewBag.Title = "Create";
}

<style>
    .row-centered {
        text-align:center;
    }
    .col-centered {
        display:inline-block;
        float:none;
        /* reset the text-align */
        text-align:left;
        /* inline-block space fix */
        margin-right:-4px;
    }
    .col-fixed {
    /* custom width */
        width:320px;
    }

    /*esstilo para el boton input*/
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    .img-responsive {
        width: 300px; 
        height: 200px;
    }
</style>

<h2>Cargar Imagenes para la propiedad: @Model.Titulo</h2>

<div>
    @using (Html.BeginForm("Create", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="formulario" class="">
            @Html.AntiForgeryToken()


            <div class="row row-centered">
                <div class="col-lg-12 col-centered col-fixed" style="border:ridge; padding:8px;">
                    <label>Imagen Principal</label>
                    <input type="file" name="uploadfile1" id="input0" accept="image/x-png, image/gif, image/jpeg" onchange="$('#img0')[0].src = window.URL.createObjectURL(this.files[0])" />@*el controlador trabaja con el name no con el id*@
                    <input type="button" value="eliminar" onclick="$('#img0')[0].src = null; var control = $('#input0'); control.replaceWith(control = control.val('').clone(true));"/>
                    <br />
                    <img id="img0" src="#" alt="your image" style="width: 600px; height: 300px;" class="img-responsive"/>
                </div>
            </div><br /><br />

            <div class="row">
                <div class="col-lg-3">
                    <label>Cargar otra</label>
                    <input type="file" name="uploadfile1" id="input1" accept="image/x-png, image/gif, image/jpeg" onchange="$('#img1')[0].src = window.URL.createObjectURL(this.files[0])" />@*el controlador trabaja con el name no con el id*@
                    <input type="button" value="eliminar" onclick="$('#img1')[0].src = null; var control = $('#input1'); control.replaceWith(control = control.val('').clone(true));" />
                    <br />
                    <img id="img1" src="#" alt="your image" style="width: 300px; height: 200px;" class="img-responsive"/>
                </div>
                <div class="col-lg-3">
                    <label>Cargar otra</label>
                    <input type="file" name="uploadfile1" id="input2" accept="image/x-png, image/gif, image/jpeg" onchange="$('#img2')[0].src = window.URL.createObjectURL(this.files[0])" />@*el controlador trabaja con el name no con el id*@
                    <input type="button" value="eliminar" onclick="$('#img2')[0].src = null; var control = $('#input2'); control.replaceWith(control = control.val('').clone(true));" />
                    <br />
                    <img id="img2" src="#" alt="your image" style="width: 300px; height: 200px;" class="img-responsive"/>
                </div>
                <div class="col-lg-3">
                    <label>Cargar otra</label>
                    <input type="file" name="uploadfile1" id="input3" accept="image/x-png, image/gif, image/jpeg" onchange="$('#img3')[0].src = window.URL.createObjectURL(this.files[0])" />@*el controlador trabaja con el name no con el id*@
                    <input type="button" value="eliminar" onclick="$('#img3')[0].src = null; var control = $('#input3'); control.replaceWith(control = control.val('').clone(true));" />
                    <br />
                    <img id="img3" src="#" alt="your image" style="width: 300px; height: 200px;" class="img-responsive"/>
                </div>
                <div class="col-lg-3">
                    <label>Cargar otra</label>
                    <input type="file" name="uploadfile1" id="input4" accept="image/x-png, image/gif, image/jpeg" onchange="$('#img4')[0].src = window.URL.createObjectURL(this.files[0])" />@*el controlador trabaja con el name no con el id*@
                    <input type="button" value="eliminar" onclick="$('#img4')[0].src = null; var control = $('#input4'); control.replaceWith(control = control.val('').clone(true));" />
                    <br />
                    <img id="img4" src="#" alt="your image" style="width: 300px; height: 200px;" class="img-responsive"/>
                </div>
            </div><br /><br />

            <div class="row">
                <div class="col-lg-3">
                    <label>Cargar otra</label>
                    <input type="file" name="uploadfile1" id="input5" accept="image/x-png, image/gif, image/jpeg" onchange="$('#img5')[0].src = window.URL.createObjectURL(this.files[0])" />@*el controlador trabaja con el name no con el id*@
                    <input type="button" value="eliminar" onclick="$('#img5')[0].src = null; var control = $('#input5'); control.replaceWith(control = control.val('').clone(true));" />
                    <br />
                    <img id="img5" src="#" alt="your image" style="width: 300px; height: 200px;" class="img-responsive"/>
                </div>
                <div class="col-lg-3">
                    <label>Cargar otra</label>
                    <input type="file" name="uploadfile1" id="input6" accept="image/x-png, image/gif, image/jpeg" onchange="$('#img6')[0].src = window.URL.createObjectURL(this.files[0])" />@*el controlador trabaja con el name no con el id*@
                    <input type="button" value="eliminar" onclick="$('#img6')[0].src = null; var control = $('#input6'); control.replaceWith(control = control.val('').clone(true));" />
                    <br />
                    <img id="img6" src="#" alt="your image" style="width: 300px; height: 200px;" class="img-responsive"/>
                </div>
                <div class="col-lg-3">
                    <label>Cargar otra</label>
                    <input type="file" name="uploadfile1" id="input7" accept="image/x-png, image/gif, image/jpeg" onchange="$('#img7')[0].src = window.URL.createObjectURL(this.files[0])" />@*el controlador trabaja con el name no con el id*@
                    <input type="button" value="eliminar" onclick="$('#img7')[0].src = null; var control = $('#input7'); control.replaceWith(control = control.val('').clone(true));" />
                    <br />
                    <img id="img7" src="#" alt="your image" style="width: 300px; height: 200px;" class="img-responsive"/>
                </div>
                <div class="col-lg-3">
                    <label>Cargar otra</label>
                    <input type="file" name="uploadfile1" id="input8" accept="image/x-png, image/gif, image/jpeg" onchange="$('#img8')[0].src = window.URL.createObjectURL(this.files[0])" />@*el controlador trabaja con el name no con el id*@
                    <input type="button" value="eliminar" onclick="$('#img8')[0].src = null; var control = $('#input8'); control.replaceWith(control = control.val('').clone(true));" />
                    <br />
                    <img id="img8" src="#" alt="your image" style="width: 300px; height: 200px;" class="img-responsive"/>
                </div>
            </div>                
            <div class=" row">
                <div class="input-group image-preview">
                    <input type="submit" name="Create" id="Create" value="Create" />

                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br />


            
           
        </div>
    }
</div>


@if (ViewBag.myimage != null)
{
    <img alt="imagen1" src="@Url.Content("~/Images/" + ViewBag.myimage)" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //$(document).ready(function () {
        //    $('#btn').click(function () {
        //        var boton = document.createElement("input");
        //        boton.type = "file";
        //        boton.name = "uploadfile1";
        //        boton.id = "uploadfile1";
        //        $('#formulario').append(boton);
        //    });
        //});

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });
    </script>
}

