@model PagedList.IPagedList<Proyecto.Models.Property>
@using PagedList.Mvc;
<style>
    .panRow {
              min-height: 350px;
              max-height: 350px;
              /*overflow-y: scroll;*/
    }
</style>
<br />


 <!-- aca empieza la parte del buscador por filtros -->
    <div style="background-color: rgba(204, 44, 21, 0.70); padding-bottom: 20px; padding-top: 10px;" class="container-fluid">
        <div class="col-lg-3">
            <div class="col-lg-12">
                <label for="select" class="col-lg-12 control-label"><b>Localidad</b></label>
                <select class="form-control" id="select">
                    @foreach (Proyecto.Models.Locality l in ViewBag.Localidades)
                    {
                        <option value="@l.Id">@l.Nombre</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="col-lg-12">
                <label for="select" class="col-lg-12 control-label"><b>Tipo de Propiedad</b></label>
                <select class="form-control" id="select">
                    @foreach (Proyecto.Models.PropertyType t in ViewBag.Tipos)
                    {
                        <option value="@t.Id">@t.Nombre</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="col-lg-12">
                <label for="select" class="col-lg-12 control-label"><b>Operacion</b></label>
                <select class="form-control" id="select">
                    @foreach (Proyecto.Models.Category c in ViewBag.Categorias)
                    {
                        <option value="@c.Id">@c.Nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-12">
                <label for="botonBuscar" class="col-lg-12 control-label"><b>Comience Su Busqueda</b></label>
                <button type="button" class="btn btn-default col-lg-12" id="botonBuscar">Buscar</button>
            </div>
        </div>
    </div><!-- aca termina la parte de la busqueda por filtros-->

<br />
    <!-- aca empieza la parte de los paneles con los avisos  -->
    <div class="row">
    <div id="result">
        @Html.Partial("_List", Model)
                    </div>
                        </div>
<!-- aca terminan los avisos  -->

<!-- aca esta el paginador -->
<div class="row" id="paginacion">
    <div class="col-lg-12">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#paginacion a').click(function (e) {
                e.preventDefault();
                //
                var data = {
                    num: $(this).text(),
                    async: true
                };

                history.pushState(null, document.title, "/Home/Index?page=" + data.num);
                console.log(data.num);
                $.ajax({
                    url: "/Home/Index?page=" + data.num,
                    data: data
                }).done(function (dat) {
                    $('#result').html(dat);
                });

                $(this).focus();
            });
        });
    </script>
}