@model PagedList.IPagedList<Proyecto.Models.Property>
@{
    var error = Request["error"];
}


@using PagedList.Mvc;
<style>
    .panRow {
        min-height: 350px;
        max-height: 350px;
        /*overflow-y: scroll;*/
    }
</style>
<br />
<div class="row">

    <div class="col-lg-12">
        <div class="row">

            <!-- Start WOWSlider.com BODY section -->
            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                        <li><img src="data1/images/der.jpg" alt="" title="" id="wows1_0" /></li>
                        <li><img src="data1/images/dpto.jpg" alt="" title="" id="wows1_1" /></li>
                        <li><img src="data1/images/dpto2.jpg" alt="" title="" id="wows1_2" /></li>
                        <li><img src="data1/images/dsads.jpg" alt="" title="" id="wows1_3" /></li>
                        <li><img src="data1/images/dwdfwf.jpg" alt="" title="" id="wows1_4" /></li>
                        <li><a href="http://wowslider.com"><img src="data1/images/jptorrea01.jpg" alt="http://wowslider.com/" title="" id="wows1_5" /></a></li>
                        <li><img src="data1/images/freee.jpg" alt="AlquiladoSanLuis" title="AlquiladoSanLuis" id="wows1_6" /></li>
                    </ul>
                </div>
                <div class="ws_bullets">
                    <div>
                        <a href="#" title=""><span><img src="data1/tooltips/der.jpg" alt="" />1</span></a>
                        <a href="#" title=""><span><img src="data1/tooltips/dpto.jpg" alt="" />2</span></a>
                        <a href="#" title=""><span><img src="data1/tooltips/dpto2.jpg" alt="" />3</span></a>
                        <a href="#" title=""><span><img src="data1/tooltips/dsads.jpg" alt="" />4</span></a>
                        <a href="#" title=""><span><img src="data1/tooltips/dwdfwf.jpg" alt="" />5</span></a>
                        <a href="#" title=""><span><img src="data1/tooltips/jptorrea01.jpg" alt="" />6</span></a>
                        <a href="#" title="AlquiladoSanLuis"><span><img src="data1/tooltips/freee.jpg" alt="AlquiladoSanLuis" />7</span></a>
                    </div>
                </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wowslideshow</a> by WOWSlider.com v8.5</div>
                <div class="ws_shadow"></div>
            </div>
           
            <!-- End WOWSlider.com BODY section -->
        </div><br />

    </div>
</div><br />



<!-- aca empieza la parte del buscador por filtros -->

<div style="background-color: #d9edf7;color:#3a87ad; padding-bottom: 20px; padding-top: 10px;" class="container-fluid">
    <div class="col-lg-3">
        <div class="col-lg-12">
            <label for="select" class="col-lg-12 control-label"><b>Localidad</b></label>
            <select class="form-control" id="select">
                @foreach (Proyecto.Models.Locality l in ViewBag.Localidades)
                {
                    <option value="@l.Id">@l.Nombre</option>
                }
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="col-lg-12">
            <label for="select" class="col-lg-12 control-label"><b>Tipo de Propiedad</b></label>
            <select class="form-control" id="select">
                @foreach (Proyecto.Models.PropertyType t in ViewBag.Tipos)
                {
                    <option value="@t.Id">@t.Nombre</option>
                }
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="col-lg-12">
            <label for="select" class="col-lg-12 control-label"><b>Operacion</b></label>
            <select class="form-control" id="select">
                @foreach (Proyecto.Models.Category c in ViewBag.Categorias)
                {
                    <option value="@c.Id">@c.Nombre</option>
                }
            </select>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="col-lg-12">
            <label for="botonBuscar" class="col-lg-12 control-label"><b>Comience Su Busqueda</b></label>
            <button type="button" class="btn btn-danger col-lg-12" id="botonBuscar">Buscar</button>
        </div>
    </div>
</div><!-- aca termina la parte de la busqueda por filtros-->

<br />
<!-- aca empieza la parte de los paneles con los avisos  -->
<div class="row">
    <div id="result">
        @Html.Partial("_List", Model)
    </div>
</div>
<!-- aca terminan los avisos  -->
<!-- aca esta el paginador -->
<div class="row" id="paginacion" style="padding-bottom:50px; margin-bottom:50px; text-align:center;z-index:0;">
    <div class="col-lg-12">        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#paginacion a').click(function (e) {
                e.preventDefault();
                //
                var data = {
                    num: $(this).text(),
                    async: true
                };

                history.pushState(null, document.title, "/Home/Index?page=" + data.num);
                console.log(data.num);
                $.ajax({
                    url: "/Home/Index?page=" + data.num,
                    data: data
                }).done(function (dat) {
                    $('#result').html(dat);
                });

                $(this).focus();
            });

            @if (error != null && error.ToLower() == "notproperty"){
                <text>
            alert("Esta propiedad no existe o no es de su pertenencia");
            </text>
            }
        });

    </script>


}